<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{post.author}}</h1>
    <h4>{{post.title}}</h4>
    <p>{{post.content}}              {{post.date_posted}}</p>

    <div >
        <form method='POST'>
            {% csrf_token %}
                <h1><legend>Comment on this post</legend></h1>
                {{form.as_p}}
            <div>
                <button type='submit'>Post</button>
            </div>
        </form>
    </div>

    <h3>Comments</h3>
    {% if comments %}
    {% for comment in comments %}
        <h5>{{comment.author}}</h5>
        <p>{{comment.content}}</p>
        {% if request.user == comment.author %}
        <a href='{% url 'update_comment' comment.id %}'>edit comment</a>
        {% endif %}
    {% endfor %}
    {% endif %}
</body>
</html>